.timeline {
    display: flex;
    justify-content: center;
    overflow-x: auto; /* Allow horizontal scrolling if needed */
    padding-bottom: 20px; /* Add space for horizontal scrollbar */
  }
  
  .timeline-item {
    flex: 0 0 auto;
    margin-right: 20px; /* Add space between items */
  }
  
  .timeline-content {
    padding: 20px;
    border-color: white;
    border: 1px;
    border-style: solid;
    border-radius: 5px;
  }
  
  .timeline-content h3 {
    margin-top: 0;
  }
  