html, body {
    margin: 0px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    height: 80vh;
    padding-bottom: 500px;
  }

  .about-container {
    padding-top: 100px;
    padding-bottom: 400px;
  }

  .background-container {
    padding-bottom: 100px;
  }
  
  .leftDiv {
    position: absolute;
    padding: 10px;
    border: 1px solid #242424;
    
  }


  .rightDiv {
    margin-top: 200px;
    position: absolute;
    padding: 10px;
    border: 1px solid #242424;
    
  }

  .box {
    width: 200px;
    height: 100px;
    background-color: lightblue;
    margin-top: 20px;
    opacity: 0;
    transition: opacity 0.5s ease; /* Animating opacity */
  }

  .box.appear {
    opacity: 1;
  }
  

  .nav {
    display: flex;
    position: absolute;
    top: 0px; /* Adjust the top position as needed */
    left: 15px; /* Adjust the left position as needed */
    z-index: 2;
  }
  
  .nav div {
    margin-right: 20px; /* Adjust spacing between text items */
  }

  .header {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }

  .title {
    border-bottom: 1px solid currentColor;
  }

  .about {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 60vh;
  }

  .profile-pic {
    border: 3px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    width: 550px;
    height: 450px;
  }

  .about-description {
    border: 1.5px;
    border-color: black;
    border-style: solid;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 1.5);
    border-radius: 8px;
    width: 600px;
    height: 350px;
  }

  .description-container {
    padding-left: 8px;
  }

  .window-border {
    border: 2px solid #333; /* Adjust border color and thickness */
    width: 96%; /* Adjust width to fit the content */
    padding: 10px; /* Adjust padding */
    margin-top: -10px; /* Shift border up to cover the top of .about-description */
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    gap: 5px;
  }


  .window-dot-1 {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: red;
  }

  .window-dot-2 {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: orange;
  }

  .window-dot-3 {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: green;
  }

  

  .description {
    font-size: 22px;
  }

  .project-container {
    padding-bottom: 25%;
  }

  .outer-1 {
    position: relative;
    width: 100%;
    height: 100vh;
  }
  
  .gif-overlay {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the entire container */
  }

  .content-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }


  .projects {
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .project {
    background-color: #1c1c1c;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    justify-content: center;
    text-align: center;
  }

  .projects-container {
    padding-bottom: 400px;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 25px;
    padding-top: 25px;
  }

  .contact-linkedin {
    background-color: #079ee9;
    border-radius: 8px;
    color: white;
    border-style: solid;
    text-align: center;
    margin-bottom: 10px;
    font-size: 26px;
    width: 125px;
  }

  .contact-github {
    background-color: #00000000;
    border-radius: 8px;
    color: white;
    border-style: solid;
    text-align: center;
    margin-bottom: 10px;
    font-size: 26px;
    width: 125px;
  }

  .contact-email {
    background-color: #00000000;
    border-radius: 8px;
    color: white;
    border-style: solid;
    text-align: center;
    margin-bottom: 10px;
    font-size: 26px;
    width: 125px;
  }

  .contact-cv {
    background-color: white;
    border-radius: 8px;
    color: black;
    border-style: solid;
    text-align: center;
    margin-bottom: 10px;
    font-size: 26px;
    width: 125px;
  }

  .footer {
    background-color: black;
    color: white;
    text-align: center;
}

  .contact-pic {
    text-align: center;
  }

  .contact-picture {
    display: block;
    border-radius: 90px;
    border: 2px solid black; /* Adjust border color and thickness */
    margin: auto;
  }

  .blogs-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    
  }

  .blog-img {

  }

  .blog {
    border: 2px solid grey;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
  }

  .blog-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .blog-content {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .blog-title {
    border-bottom: 1px solid currentColor;
    font-size: 22px;
    font-weight: bold;
  }

  .blog-description {
    font-size: 18px;
    color: #c5b4b4cd;
  }

  .view-text {
    text-align: center;
  }

  .link {
    color: inherit;
    text-decoration: none;
  }

