.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    height: 60vh;
    padding-bottom: 500px;
  }
  
  .leftDiv {
    position: absolute;
    padding: 10px;
    border: 1px solid #242424;
    
  }


  .rightDiv {
    margin-top: 200px;
    position: absolute;
    padding: 10px;
    border: 1px solid #242424;
    
  }

  .box {
    width: 200px;
    height: 100px;
    background-color: lightblue;
    margin-top: 20px;
    opacity: 0;
    transition: opacity 0.5s ease; /* Animating opacity */
  }

  .box.appear {
    opacity: 1;
  }
  

  .nav {
    display: flex;
  }
  
  .nav div {
    margin-right: 20px; /* Adjust spacing between text items */
  }

  .header {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }

  .title {
    border-bottom: 1px solid currentColor;
  }

  .about {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 60vh;
  }

  .profile-pic {
    border: 3px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    width: 550px;
    height: 450px;
  }

  .about-description {
    border: 1px;
    border-color: aliceblue;
    border-style: none;
    width: 600px;
  }

  .description {
    font-size: 22px;
  }

  

